html, body {
	margin: 0% 7% 7%;
	background-color: #1a2421; /*dark jungle green*/
	font-family: sans-serif; 
	color: #A9A9A9; /*dark gray*/
	}

a 	{color: royalblue; }
a:hover {color: lightblue; }

img	{
	max-width: 100%;
	height: auto;
	}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
pre 	{ /*format code*/
    	page-break-inside: avoid;
    	font-family: monospace;
    	font-weight: bold;
    	margin-bottom: 1.6em;
    	max-width: 100%;
    	overflow: auto;
   	padding: 1em 1.5em;
    	display: block;
    	word-wrap: break-word;
	}

/*class*/
.header	{padding: 3% 0%; }
.header p {text-align: right; }
.header a {text-decoration: none; }

.entry	{padding: 0% 0.5%; }
.entry h2 { 
	margin: 5px auto 2px auto; 
	font-family: sans-serif;
	}

img.purpleshadow:hover {
	box-shadow: 21px 21px 57px 56px purple;} /*width, height, blur, spread radius*/
	
img.yellowshadow:hover {
	box-shadow: 21px 21px 57px 56px yellow;} 


