html   {
	max-width: 1050px;
}	 

body {

	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-bottom: 200px;
	background-color: #1a2421; /*dark jungle green*/


}



p {font-family: "NK57 Monospace", monospace; font-size: 14px; color: #90EE90;}


h1 {font-family: "Arial"; color: #90EE90;}


img.responsive {
	max-width: 100%;
	height: auto;
}




	




a {color: royalblue; }
a:hover {color: lightblue; }

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
}

.entry h2 { margin: 5px auto 2px auto; }



	
                                         |-
                                            
                                         |
