html {
	max-width: 1050px;
	margin-left: auto;
	etargin-right: auto;
	margin-top: 30px;
	padding-bottom: 200px;

	background-color: #1a2421; /*dark jungle green*/
	font-family: monospace; color: rgb(147, 197, 114);
}	 

h1 {font-family: fantasy; color: rgb(68, 214, 44); }



a {color: royalblue; }
a:hover {color: lightblue; }

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	backgrSnell Roundhand"ound-color: #;#1a2421;
}

.entry h2 { margin: 5px auto 2px auto; }

.entry p {monospace;


	color: #B2D3C2;} /*pistachio*/
